<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OAG_Focus_Controller.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <OAG_Focus_Controller.My.MySettings>
            <setting name="EFW" serializeAs="String">
                <value>&lt;- Choose Filterwheel</value>
            </setting>
            <setting name="Focuser" serializeAs="String">
                <value>&lt;- Choose OAG Focuser</value>
            </setting>
            <setting name="focusAbsolute1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusAbsolute9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="focusOffset9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetBaseFocus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RadioAbsoluteChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioOffsetChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FocusSlowSteps" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FocusMediumSteps" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FocusFastSteps" serializeAs="String">
                <value>100</value>
            </setting>
        </OAG_Focus_Controller.My.MySettings>
    </userSettings>
</configuration>